nav {
  color: white;
  height: 70px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1vw;

  position: sticky;
  left: 0;
  top: 0;

  .logo {
    display: flex;
    justify-content: center;
    i {
      font-size: 2rem;
      margin-right: 8px;
    }
  }
  .hide {
    display: none;
  }

  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-left: 18px;

      a {
        color: inherit;
        text-decoration: none;
      }

      i {
        margin-left: 3px;
      }
    }
    @media screen and (max-width: 650px) {
      display: none;
    }
  }
}
