.sidebar {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  background: white;
}

.sidebar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 70px;
}

.sidebar-top img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 13px;
}

.sidebar-top p {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin-bottom: 2px;
}

.sidebar-top span {
  color: #8a91a6;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
}

.sidebar ul {
  margin-left: 30px;
  list-style-type: none;
}

.sidebar ul li {
  margin-top: 20px;
  color: #242121;
}

.sidebar ul li i {
  margin-right: 15px;
}

.sidebar ul li .active {
  margin-right: 15px;
  color: dodgerblue;
}

.wholewrapper {
  background: #565388;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: -webkit-gradient(linear, left top, right top, from(#565388), color-stop(34%, #090979), to(#044452));
  background: linear-gradient(90deg, #565388 0%, #090979 34%, #044452 100%);
}

.contentarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: calc(100vh - 104px - 80px);
  height: auto;
}

.contentarea button {
  padding: 7px 20px;
  font-size: 1rem;
  border: none;
  background: #edbd55;
  color: white;
  width: 110px;
  border-radius: 22px;
  text-align: center;
  margin: 35px 0;
  cursor: pointer;
}

.contentarea button i {
  margin-right: 8px;
}

@media screen and (max-width: 650px) {
  .contentarea button {
    margin: 15px 0px 30px;
  }
}

.contentarea .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentarea #intro {
  color: white;
  font-size: clamp(18px, 5vw, 40px);
  font-family: 'Open Sans', sans-serif;
}

.contentarea #introsub {
  color: #cecece;
  font-size: 0.9rem;
  margin-top: 8px;
}

@media screen and (max-width: 650px) {
  .contentarea #introsub {
    font-size: 0.8rem;
  }
}

.musicdetails {
  margin: 0px 0px 8px 0px;
  height: 50px;
  border-radius: 7px;
  max-width: 700px;
  width: 700px;
  color: white;
  background: rgba(158, 155, 155, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.musicdetails:hover {
  background: rgba(158, 155, 155, 0.2);
}

.musicdetailsinner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.musicdetailsinner2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.musicdetails img:nth-child(2) {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 25px;
}

.musicdetails .label {
  margin-right: 40px;
  color: #8a91a6;
  font-size: 0.9rem;
}

@media screen and (max-width: 734px) {
  .musicdetails {
    width: 100%;
  }
  .musicdetailsinner p {
    font-size: 0.8rem;
    margin-right: 4px;
  }
  .musicdetails img:nth-child(2) {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .musicdetails .label {
    margin-right: 50px;
    color: #8a91a6;
    font-size: 0.8rem;
  }
}

.musicdetails.active {
  background: rgba(158, 155, 155, 0.3);
}

.musiccard {
  width: 210px;
  height: 260px;
  overflow: hidden;
  margin: 10px;
}

.musiccard img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 1px 5px 30px 0px rgba(50, 50, 50, 0.22);
  box-shadow: 1px 5px 30px 0px rgba(50, 50, 50, 0.22);
}

.musiccard div p:nth-child(1) {
  font-weight: bold;
  font-size: 0.9rem;
}

.musiccard div p:nth-child(2) {
  font-size: 0.8rem;
  color: #8a91a6;
}

.musicplayer {
  background: grey;
  min-height: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  bottom: 0;
  overflow: hidden;
  justify-self: flex-end;
}

.musicplayer .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.33;
      -ms-flex: 0.33;
          flex: 0.33;
  overflow: hidden;
}

.musicplayer .section1inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
  color: white;
}

.musicplayer .section1inner p:nth-child(1) {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 2px;
}

.musicplayer .section1 img {
  height: 100%;
  width: 98px;
}

@media screen and (max-width: 700px) {
  .musicplayer .section1 {
    display: none;
  }
}

.musicplayer .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0.33;
      -ms-flex: 0.33;
          flex: 0.33;
}

.musicplayer .section2 .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.musicplayer .section2 .upper p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: 15px;
}

.musicplayer .section2 .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}

.musicplayer .section2 .lower input[type='range'] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  -webkit-appearance: none;
  outline: none;
  height: 2px;
  margin: 0 8px;
}

.musicplayer .section2 .lower span {
  font-size: 0.9rem;
}

@media screen and (max-width: 700px) {
  .musicplayer .section2 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0px 5px;
  }
}

.musicplayer .section3 {
  -webkit-box-flex: 0.33;
      -ms-flex: 0.33;
          flex: 0.33;
}

.musicplayer .section3inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 18px;
}

.musicplayer .section3inner input[type='range'] {
  border: none;
  -webkit-appearance: none;
  outline: none;
  height: 2px;
  margin: 0 8px;
}

.musicplayer .section3inner p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
  .musicplayer .section3 {
    display: none;
  }
}

#play {
  font-size: 1.6rem;
  border: 1px solid #b3b3b3;
  padding: 10px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

#play:hover {
  background: #676767;
}

#random,
#next,
#previous,
#repeat,
#speaker {
  font-size: 1.1rem;
  padding: 17px;
  height: 30px;
  width: 30px;
  border-radius: 25px;
  background: transparent;
}

#random:hover,
#next:hover,
#previous:hover,
#repeat:hover,
#speaker:hover {
  background: #676767;
}

#previous {
  font-size: 1.1rem;
  padding: 17px;
  height: 30px;
  width: 30px;
  border-radius: 25px;
}

#previous:hover {
  background: #676767;
}

nav {
  color: white;
  height: 70px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 1vw;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
}

nav input {
  display: none;
}

nav #nav-icon {
  display: none;
  margin-right: 10px;
}

nav #nav-icon .menu-icon {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: block;
  height: 3px;
  min-width: 25px;
  margin: 3px;
  background: white;
  -webkit-transition: all 0.55s;
  transition: all 0.55s;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .logo i {
  font-size: 2rem;
  margin-right: 8px;
}

nav .hide {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

nav ul li {
  margin-left: 18px;
}

nav ul li a {
  color: inherit;
  text-decoration: none;
}

nav ul li i {
  margin-left: 3px;
}

@media screen and (max-width: 650px) {
  nav ul {
    display: none;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  nav #nav-icon {
    display: block;
  }
  nav .active span:nth-child(2) {
    opacity: 0;
  }
  nav .active span:nth-child(1) {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateY(8px) rotate(50deg);
            transform: translateY(8px) rotate(50deg);
    -webkit-transition: 0.55s 0.5s;
    transition: 0.55s 0.5s;
  }
  nav .active span:nth-child(3) {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateY(-4px) rotate(-410deg);
            transform: translateY(-4px) rotate(-410deg);
    -webkit-transition: 0.55s 0.5s;
    transition: 0.55s 0.5s;
  }
  nav #menu:checked ~ ul {
    display: block;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: 5s;
    transition: 5s;
    position: absolute;
    min-height: 83vh;
    background: -webkit-gradient(linear, left top, right top, from(#565388), color-stop(34%, #090979), to(#044452));
    background: linear-gradient(90deg, #565388 0%, #090979 34%, #044452 100%);
    left: 0;
    top: 0;
    z-index: 99;
    padding: 10px 10px 10px 0;
  }
  nav #menu:checked ~ ul li {
    padding: 10px 5px;
  }
}

.services_model {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services_model-content {
  position: relative;
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.services_model-services {
  row-gap: 1rem;
}

.services_model-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services_model-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.services_model-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.3rem;
  color: #6e57e0;
  cursor: pointer;
}

.recommend_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 280px;
}

.recommend_form input {
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #e2e8f0;
}

.recommend_form .recommend_buttons {
  margin-top: 15px;
}

.recommend_form .recommend_buttons input[type='submit'] {
  background: #3182ce;
  color: white;
  cursor: pointer;
}

.recommend_form .recommend_buttons button {
  background: #edf2f7;
  border: none;
  color: #1a202c;
  padding: 10px 15px;
  border-radius: 7px;
  cursor: pointer;
}

.active-model {
  opacity: 1;
  visibility: visible;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.app {
  max-height: 100vh;
  min-height: 100vh;
}

body {
  position: relative;
}
